@page "{c?}"
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@foreach (var Post in @Model.Posts)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@Post.Title</h2>
        <p class="blog-post-meta"><i class="glyphicon glyphicon-calendar"></i>&nbsp;@Post.PubDate.ToString("MMMM dd, yyyy") by <a href="/">@Post.Author</a></p>
        @Html.ProcessHtml(Model.Blog, Post.Excerpt)

        <div>
            <a href="/post/@Post.Slug" class="btn btn-info">View More</a>
            @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
            {
                <a href="/admin/post/@Post.Id" class="btn btn-primary">Edit Post</a><br /><br />
            }
            <p class="blog-post-meta">
                <i class="glyphicon glyphicon-tag"></i>&nbsp;
                @foreach (var c in Post.PostCategories)
                {
                    <a href="/Index?c=@Uri.EscapeDataString(c)">@c</a>
                    @:&nbsp;
                }
            </p>
        </div>
    </div>
}

<!-- TODO: Add Paging -->
@*<nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>*@
